parameters:
	level: 3
	paths:
		- src
		- tests
	fileExtensions:
		- php
	bootstrapFiles:
	    - ./vendor/autoload.php
	parallel:
		processTimeout: 300.0
		jobSize: 20
		maximumNumberOfProcesses: 32
		minimumNumberOfJobsPerProcess: 4
includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/jangregor/phpstan-prophecy/extension.neon
