<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ TERYT-API
  ~
  ~ Copyright (c) 2017 pudelek.org.pl
  ~
  ~ For the full copyright and license information, please view source file
  ~ that is bundled with this package in the file LICENSE
  ~
  ~ Author Marcin Pudełek <marcin@pudelek.org.pl>
  ~
  -->

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/Teryt/</directory>
        </testsuite>
    </testsuites>
</phpunit>
